@import url("https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap");
body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  background: #121212;
  font-family: Zen Dots;
  box-sizing: border-box;
}

::selection {
  background: none;
}
.hide {
  display: none;
}
.block {
  display: block;
}
.grid {
  display: grid;
}
